*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    color: #333333;
    font-family: Ubuntu,Helvetica,Arial,sans-serif;
}

.container{
    width: 100%;
    padding-right: 0.75rem;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: 0.75rem;
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.fixed{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.dflex{
    display: flex;
}

/* header */
.navbar{
    top: 0;
    background-color:#ffffffcc;
    backdrop-filter: blur(16px);
    border-bottom: 1px solid #f0f4fc;
}

.navbar-brand{
    margin-right: 1rem;
}

.navbar .container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
}

.aiu-logo{
    max-width: 115px;
}

.navbarNav{
    display: flex;
    flex-basis: auto;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav a{
    text-decoration: none;
    padding: 1.4rem 1rem;
    color:#3b4258;
    transition: 0.2s;    
}

.navbar-nav a:hover{
    color:rgb(92, 80, 227);
}

.searchForm{
width: 30%;
}
.searchForm input{
    width: 100%;
    padding: 8px;
}
/* END header */


/* main */
.main{
    margin-top: 100px;
}

.main .container{
    width: 1240px;
}

.lastBooksContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.bookCard{
    max-width: 16%;
}

.bookCard .cardBorder{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #ffff;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.bookCard a{
    text-decoration: none;
    color: #1f2538;
}

.cardBorder img{
    width: 100%;
    height: 100%;
}

.cardBorder .text{
    padding: 1rem;
    word-wrap: break-word;
}

.cardBorder .text h3,h5{
    margin: 5px 0;
}

.cardBorder h3{
    font-size: 20px;
    font-weight: 700;
    color: #1f2538;
}

.card-btn{
    border:none;
    background-color: #5c50e3;
    padding: 10px 20px;
    color:#ffffffcc;
    border-radius:10px;
}
/* END main */


/* login/regis */
.login-center{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.login-center .bg{
    background-color:#ffffffcc;
    padding: 40px;
    border-radius:10px;
    min-height: 200px;
    width: 360px;
    margin-bottom: 20px;
}

.login-center .bg span{
    display: none;
}

.bg a{
    text-decoration: none;
    color: #3b4258;
}

.bg a:hover{
    color:rgb(92, 80, 227);
}

.bg button{
    padding: 8px;
    background-color: #ffff;
    border: 1px solid #5c50e3;
    color: #5c50e3;
    border-radius: 4px;
    transition: 0.3s;
}

.bg button:hover{
    background-color: #5c50e3;
    color: #ffff;
}

.formsWidth{
    margin-top: 10px;
}

.formsWidth input, label, button{
    margin: 8px 0;
    width: 100%;
}

.formsWidth input {
    padding: 8px;
    background-color: #f5f7fa;
    border: 1px solid #b3b3b3cc;
    border-radius: 4px;
}

.formsWidth small{
    margin: 5px 0 ;
}

.formsWidth button{
    padding: 8px;
    background-color: #5c50e3;
    border: 1px solid #5c50e3;
    color: #ffff;
    border-radius: 4px;
    transition: 0.3s;
}
/* END login/regis */

/* user_detail */
.username{
    align-items:center;
}

.dflex-col{
    flex-direction: column;
    margin-left: 80px;
}

.username h4{
    font-size: 2.25rem;
    font-weight: 500;
}

.username button{
    padding: 8px;
    background-color: #5c50e3;
    border: 1px solid #5c50e3;
    color: #ffff;
    border-radius: 4px;
}

.user-table{
    margin-top: 40px;
}

.user-table table{
    margin-top: 20px;
}

.user-table table{
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width: 75%;
}

.user-table table tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.user-table table td, th{
    padding: 12px 7px;
}

.user-table table thead{
    background-color: #5c50e3;
}

.user-table table thead th{
    color: #ffff;
}

.user-table table tr{
    text-align: center;
}
/* END user-detail */


/* bookdetail */
.bookDetailLeftSide {
    min-height: 220px;
    background-color:#ffffffcc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.bookDetailIMG {
    flex-direction: column;
    width: 30%;
}

.bookDetailIMG img{
    width: 100%;
    height: 100%;
}

.bookDetailText{
    width: 45%;
    margin: 0 10px;
}

.bookDetailLeftSide button{
    padding: 8px;
    background-color: #5c50e3;
    border: 1px solid #5c50e3;
    color: #ffff;
    border-radius: 4px;
    margin: 4px 0;
}

.bookDetailText h3{
    font-size: 30px;
    font-weight: 500;
    color: #1f2538;
}

.bookDetailLeftSide form span{
    display: none;
}

.bookDetailLeftSide form textarea{
    width: 100% !important;
    margin: 10px 0;
    border: 1px solid #5c50e3;
    border-radius: 4px;
    padding: 8px;
}

.bookDetailLeftSide .comments{
    
}

.bookDetailLeftSide .comments .comment{
    border-bottom: 1px solid #5c50e3;
}

.bookDetailLeftSide .comments .comment h3{
    margin: 10px 0;
}

.bookDetailLeftSide .comments .comment h5{
    margin: 10px 40px;
}

.bookDetailLeftSide .comments .comment .comment_text{
    
}

/* END bookdetail */

/* createbook */
.createbook p{
    margin: 5px 0;
}
.createbook p label,input{
    margin: 5px 0;
}
.createbook p textarea,input{
    border-radius: 4px;
    border: 1px solid #5c50e3;
}
.createbook p textarea{
    width: 100% !important;
}
.createbook #id_image,#id_file{
    border:none;
}
.createbook .btn{
    width: 100%;
    padding: 8px;
    background-color: #ffff;
    border: 1px solid #5c50e3;
    color: #5c50e3;
    border-radius: 4px;
    margin: 4px 0;
    transition: 0.2s;
}
.createbook .btn:hover{
    background-color: #5c50e3;
    color: #ffff;
}
/* END createbook */

/* contact */
#div_id_name input{
    border-radius: 4px;
    border: 1px solid #5c50e3;
}
#div_id_email input{
    border-radius: 4px;
    border: 1px solid #5c50e3;
}
#div_id_message textarea{
    width: 100%;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #5c50e3;
}
/* END contact */

/* messages */
.messages .bg{
    background-color: #ffff;
    min-height: 100px;
    padding: 20px;
    border-radius: 8px;
}