* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #f5f7fa;
    /* color: #333333; */
    margin-top: 5rem;
    padding-bottom: 50px;
}

a:hover {
    color: #1F2538;
}

.PageContent {
    margin-top: 100px;
}
.formsWidth {
    max-width: 500px;
}
.bg-steel {
    /* background-color: #235789; */
    background-color: hsla(0,0%,100%,.8);
    backdrop-filter: blur(16px);
}
.navbar-nav {
    font-size: 0.9em;
}
.navbar-brand {
    font-weight: bold;
}
.navbar-brand.navbar-title {
    color: #1F2538;
}
.navbar-nav > a > img {
    height: 1.3em;
}

.site-header .navbar-nav .nav-link {
    color: #1F2538;
    font-weight: 400;
    font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #1F2538;
    text-decoration: underline;
}
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #1F2538;
    text-decoration: underline;
}
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
.btn.btn-primary {
    background-color: #5c50e3;
    border-color: #5c50e3;
    font-weight: normal;
    padding: 0.1rem 0.4rem;
    margin-top: 3px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #5c50e3;
    border-color: #5c50e3;
}
.content-section {
    padding: 20px;
    border-radius: 8px;
    background-color: #e9ecef;
}
.pageContent {
    margin-top: 100px;
}
.searchForm {
    margin-left: 10px;
    margin-right: 10px;
}
.lastBooksContainer {
    margin: 0 auto;
}
.book_image {
    max-width: 150px;
    max-height: 150px;
}
.bookCard {
    padding: 10px 10px;
    text-align: center;
}
.cardBorder {
    min-height: 340px;
    padding-top: 15px;
    border-radius: 8px;
    background-color: #e9ecef;
}
.navUserImage {
    height: 40px;
    border-radius: 50%;
    width: 40px;
}
.jumbotron {
    border-radius: 12px;
}
.bookDetailLeftSide {
    text-align: center;
}
.comment_text {
    font-style: italic;
    margin-left: 20px;
}
.bookDetailLeftSide .bookImage {
    max-width: 200px;
}
.bookImage {
    max-height: 300px;
}
/* PROFILE SITE STYLE */
.profile_buttons {
    margin-top: 10px;
}
#books {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#books td,
#books th {
    border: 1px solid #ddd;
    padding: 8px;
}

#books tr:nth-child(even) {
    background-color: #f2f2f2;
}

#books tr:hover {
    background-color: #ddd;
}

#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}