{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="login-center">
    <div class="bg">
        <h3>Login to Django Blog</h3>
        <form method="post" class="formsWidth">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <a href="{% url 'signup' %}">Register here</a>
        <a href="{% url 'resetPassword' %}">Reset password</a>
    </div>
    
</div>
{% endblock content %}