{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-4 bookDetailLeftSide">
        <img class="bookImage" src="{{ book.image.url }}" alt=""> <br>
        {% if book.actual_rating %}
        {% for rate in book.actual_rating %}
        <span class="fa fa-star checked"></span>
        {% endfor %}
        <br>
        Количество оценок({{ book.reviews.count }})<br>
        {% else %}
        <br>
        <h6>Нет рейтинга</h6>
        {% endif %}
        {% comment %} Оцените:
        <a href="{% url 'rate_book' book.id rating=1 %}">1</a>
        <a href="{% url 'rate_book' book.id rating=2 %}">2</a>
        <a href="{% url 'rate_book' book.id rating=3 %}">3</a>
        <a href="{% url 'rate_book' book.id rating=4 %}">4</a>
        <a href="{% url 'rate_book' book.id rating=5 %}">5</a> <br> {% endcomment %}
        <a href="#commentBox">Количество комментариев({{ book.comments.count }})</a>
        {% if book.book_amount > 0 %}
        <h5><strong>Количество доступных книг:</strong> {{ book.book_amount }}</h5>
        {% if user.is_authenticated %}
        <a href="{% url 'confirm_rent_view' book.id %}"><button class="btn btn-primary btn-xs">Арендовать</button></a>
        <a href="{% url 'install_book' book.id %}"><button class="btn btn-primary btn-xs">Скачать</button></a>
        <a href="{{ book.read_url }}"><button class="btn btn-primary btn-xs">Читать онлайн</button></a>
        {% else %}
        <a href="{% url 'confirm_rent_view' book.id %}"><button class="btn btn-primary btn-xs">Войдите, чтобы арендовать книгу</button></a>
        {% endif %}
        {% else %}
        <h5><strong>Количество доступных книг: </strong>none</h5>
        {% endif %} <br>
    </div>
    <div class="col-md-8">
        <h5><strong>{{ book.title }}</strong> </h5>
        <h5><strong>Автор:</strong> {{ book.author }}</h5>
        <h5><strong>Категория:</strong> {{ book.category }}</h5>
        <h6><strong>Описание:</strong> </h6>
        <p> {{ book.description }}</p>
        <hr class="my-4">
        <div id="commentBox">
            {% if user.is_authenticated %}
            <form method="post" class="formsWidth">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Добавить комментарии</button>
            </form>
            {% else %}
            <a href="{% url 'login_to_comment_redirect' book.id %}"><button class="btn btn-primary btn-xs">Добавить комментарии(login)</button></a>
            {% endif %}

            {% if comments %}
            <br> <br>
            <h6>Комментарии({{ book.comments.count }}):</h6>
            {% for comment in comments %}
            <div>
                <h6><strong>{{ comment.user.username }}</strong></h6>
                <h6 class="comment_text">{{ comment.text }}</h6>
            </div>
            <hr class="my-4">
            {% endfor %}
            {% else %}
            <h6>Нет комментариев</h6>

            {% endif %}
        </div>
    </div>



</div>









{% endblock content %}