{% extends "base.html" %}
{% block content %}
<style>
    .message{
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="messages">
    <div class="bg">
        {% if request.user.is_superuser %}
            {% for i in messages %}
                <div class='message'>
                    <p>{{ i.name }}</p>
                    <p>{{ i.email }}</p>
                    <p>{{ i.message}}</p>
                    <a href='{% url 'delete' i.id %}'>Прочитано</a>
                </div>
            {% endfor %}
        {% else %}
                <h1>У вас нет прав заходить сюда</h1>
        {% endif %}
    </div>
</div>

{% endblock %}