{% extends "base.html" %}
{% block content %}
    <div class="user-con">

        <div class="username dflex">
            <div style="width: 240px;">
                <img style="width: 100%; border-radius:100%;height: 240px;" src="{{ user.profile.image.url }}" alt="User Photo">
                <a href="{% url 'ProfileUpdate' %}"><button class="btn btn-success profile_buttons">Edit your photo</button></a>
            </div>
            <div class="dflex dflex-col">
                <h4>
                    {{ user.username }}
                </h4>
                <div class="dflex">
                    <div class="profile_info">
                        <p>Email: {{ user.email }}</p>
                        <p>Join date: {{ user.date_joined|date:"F j, Y" }}</p>
                        <p>Last login date: {{ user.last_login|date:"F j, Y" }}</p>
                    </div>
                </div>
                <a href="{% url 'UserUpdate' %}"><button class="btn btn-success profile_buttons">Edit my profile</button></a>
                
            </div>
        </div>
    </div>

    <div class="user-table">
        <h2>Your rented books:</h2>
        <table style="width:100%" id="books">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Rent date</th>
                    <th>Data of return</th>
                    <th>Days</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for book in user.books.all %}
            <tr>
                <td>{{ book.book.title }}</td>
                <td>{{ book.rent_date|date:"d-m-Y" }}</td>
                <td>{{ book.back_date|date:"d-m-Y" }}</td>
                <td>{{ book.how_many_days }}</td>
                <td><a href="{% url 'return_book' book.book.id %}">Return</a>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock content %}